body {
  font-family: "Roboto", sans-serif;
  color: #333;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}

.logo {
  display: block;
  max-width: 250px;
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.add-book-button,
.search-button {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #469487;
  display: inline-block;
}

.cancel-button {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #DF5A4B;
  display: inline-block;
}

h1.title {
  color: #3498db;
  margin: 20px 0;
  display: none;
}

h2.h2 {
  color: black;
  margin-bottom: 30px;
}

#content {
  padding: 20px;
  border-top: 1px solid #ddd;
}

#bookForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#bookForm input {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.search-button,
.cancel-button {
  align-self: flex-start;
  margin-top: 10px;
}

.search-results-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-item {
  background-color: #E0E0E0;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  max-width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-image {
  width: 128px;
  height: 193px;
  object-fit: cover;
  margin-bottom: 10px;
}

.bookmark-icon,
.delete-icon {
  position: absolute;
  top: 0px;
  color: #469487 !important;
  font-size: 24px;
  cursor: pointer;
  right: 0px;
}

.poch-list-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline-start: 0;
  gap: 10px;
}

li {
  flex: 0 1 30%;
  margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .book-item {
    width: 45%;
    max-width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: relative;
  }
}

@media (max-width: 430px) {
  .book-item {
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: relative;
  }

  body {
    font-size: 14px;
  }

  h2.h2 {
    font-size: 1.2rem;
  }
}
