body {
  font-family: "Roboto", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

.logo {
  display: block;
  max-width: 350px;
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.button {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}

.add-book-button {
  background-color: #469487;
}

.search-button {
  background-color: #469487;
}

.cancel-button {
  background-color: #DF5A4B;
}

h1.title {
  color: #3498db;
  text-align: center;
  margin: 20px 0;
  display: none;
}

h2.h2 {
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

#content {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

/* Formulaire de recherche */
#bookForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligne le formulaire à gauche */
  width: 100%;
}

#bookForm input {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Étendre la barre de recherche sur toute la page */
  box-sizing: border-box;
}

#bookForm button {
  margin-top: 10px;
}

.search-button,
.cancel-button {
  align-self: flex-start; /* Aligner les boutons à gauche */
}

.search-results-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.book-item {
  background-color: #E0E0E0;
  border-radius: 8px;
  padding: 40px;
  width: 20%;
  max-width: 320px; /* Augmenter la largeur maximale pour plus d'espace */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligner le contenu à gauche */
  text-align: left;
  position: relative; /* Permet de positionner les icônes en absolu */
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px; /* Augmente l'espace en dessous du titre pour les icônes */
  position: relative;
  width: 100%; /* Assure que le titre utilise toute la largeur disponible */
}

.bookmark-icon, .delete-icon {
  position: absolute;
  top: -20px;
  color: #469487 !important;
  font-size: 24px;
  cursor: pointer;
}

.bookmark-icon {
  right: 0px; /* Espace entre l'icône marque-page et le bord droit */
}

.delete-icon {
  right: 10px; /* Espace entre l'icône de suppression et le bord droit */
}

.fa-trash {
  color: #469487 !important;
}

.book-image {
  max-width: 100%;
  height: auto;
}
